.aboutMeSec {
  display: flex;
  flex-direction: column;
  background-color: var(--head-sec-color);
  height: clamp(500px, 10vh, 10vh);
  color: rgba(245, 245, 245, 0.89);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.identityBarDiv {
  display: flex;
  position: relative;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  align-items: center;
}

.identityBarAvatar {
  position: absolute;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.identityBarText {
  margin-left: 75px;
}

.headText {
  font-weight: 700;
  font-size: 1.75rem;
}

.smallHeadText {
  margin-top: 10px;
  font-size: 1.25rem;
  color: #fee440;
  margin-bottom: 10px;
}
